.stamp-container {
    border: 1px solid black;
    padding: 0 !important;
    margin-left: 0 !important;
    margin-bottom: -1px;
    overflow: hidden;
    background-color:darkslategray;
}

.stamp-container.colSize1 {
    border-radius: 0 120pt 120pt 0pt;
}

.stamp-container.colSize2 {
    border-radius: 0 60pt 60pt 0pt;
}

.stamp-container.colSize3 {
    border-radius: 0 30pt 30pt 0pt;
}

.stamp-container.colSize4 {
    border-radius: 0 20pt 20pt 0pt;
}

.stamp-container.colSize5 {
    border-radius: 0 10pt 10pt 0pt;
}

.stamp-title {
    min-height: 20pt;
    padding-left: 8pt !important;
    background-color: slategray;
    cursor: pointer;
}
